{# {% extends 'base.html.twig' %}
{% block body %}
<p>article</p>
{% endblock %} #}
{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <article>
        <h2> {{ article.title}} </h2>
        <div class="metadata"> Ecrit le {{article.createdAt | date('d/m/Y') }} à {{article.createdAt | date('H:i')}}
        <div class="content">
            <img src="{{article.image}}" alt="">
            {{ article.content | raw}}
            <a href="{{ path('afficher_blog', {'id' : article.id}) }}" class="btn btn-primary">Lire la suite</a>
        </div>
        </div>
    </article>
{% endblock %}
